<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><%= t('group') %></h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active"><%= t('group') %></li>
        </ol>
      </div><!-- /.col -->

    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <%#= render 'form', group: @group %>
  <%= form_with(model: @group, url: {action: "update_role"}, local: true) do |form| %>
    <div class="row">
      <% if @group.errors.any? %>
      <div class="col-md-12" id="error_explanation">
        <h4>Có <%= pluralize(group.errors.count, "lỗi") %> lỗi đang xảy ra:</h4>

          <ul>
            <% @group.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <div class="row">
      <!-- left column -->
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Thông tin</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="field">
              <%= form.label :name %>:
              <%= @group.name %>
            </div>

            <div class="field">
              <%= form.label "Role" %>
              <%#= form.collection_check_boxes :role_ids, @roles, :id, :name %>
              <%= form.collection_check_boxes :role_ids, @roles, :id, :name do |b| %>
                <span>
                  <%= b.check_box %>
                  <%= b.label %>
                </span>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <%= link_to 'Back', groups_path, class: "btn btn-secondary" %>
        <button type="submit" class="btn btn-success float-right">Lưu</button>
      </div>
    </div>
  <% end %>
</section>
