<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><%= t('user_edit') %></h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active"><%= t('user_edit') %></li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</section>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <%= form_with(model: @user, url: "/users/" + @user.id.to_s + "/change-password", local: true, html: {method: :post}) do |f| %>
    <div class="field">
      <% if @user.errors.any? %>
      <div class="col-md-12" id="error_explanation">
        <h4>Có <%= pluralize(user.errors.count, "lỗi") %> lỗi đang xảy ra:</h4>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <%#= render "users/shared/error_messages", resource: @user %>
    <%= f.hidden_field :reset_password_token %>

    <div class="field">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autocomplete: "email", class: 'form-control m-2', readonly: true %>
    </div>

    <div class="field">
      <%= f.label :password, "Mật khẩu mới" %><br/>
      <% if @minimum_password_length %>
        <em>Vui lòng nhập ít nhất (<%= @minimum_password_length %> ký tự)</em><br/>
      <% end %>
      <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'form-control m-2' %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "Xác nhận mật khẩu" %><br/>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control m-2' %>
    </div>

    <div class="actions">
      <%= f.submit "Cập nhật mật khẩu", class: 'btn btn-primary m-2' %>
    </div>
  <% end %>
</section>